@import "tailwindcss";
@layer theme;
/* @import url("./assets/fonts/Inconsolata-VariableFont_wdth-wght.ttf"); */

@font-face {
  font-family: Incosolata;
  font-style: normal;
  font-weight: 300 500 700 900;
  font-display: swap;
  src: url("./assets/fonts/Inconsolata-VariableFont_wdth-wght.ttf") format("woff2");
}

* {
  font-family: 'Incosolata';
}



@theme {

  --font-incosolata: "Incosolata"


  --color-neutral-900: #0d082d;
  --color-neutral-700: #4b4869;
  --color-neutral-500: #8784a5;
  --color-neutral-300: #d1d0d5;
  --color-neutral-0: #ffffff;
  --color-white-transparent: hsl(0, 0%, 100%, 0.1);

  --color-orange-700: #e1604f;
  --color-orange-500: #f57463;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
